<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net452" />
  <package id="Cheers.Data.Repository" version="1.2.1" targetFramework="net452" />
  <package id="Cheers.Owin.WebApi.Transaction" version="1.0.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Grace" version="2.4.2" targetFramework="net452" />
  <package id="Grace.Moq" version="2.4.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Moq" version="4.10.1" targetFramework="net452" />
  <package id="Moq.EntityFramework" version="1.0.10.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net452" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6" targetFramework="net452" />
  <package id="StudioDonder.MvcContrib.Mvc4.TestHelper" version="3.0.0.99" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net452" />
  <package id="System.Transactions.Workflows" version="0.1.2.0" targetFramework="net452" />
  <package id="Vanlanguni.Authentication.VanlangAccount" version="1.0.0" targetFramework="net452" />
</packages>