@{ 
    //var lang = Request.Cookies["LangForProcessManagementSystem"] != null ? Request.Cookies["LangForProcessManagementSystem"].Value : "en";
    //    var a = 2;
    string lang = Session["lang"] != null ? Session["lang"].ToString() : "en";
}
<div class="top_nav">
    <div class="nav_menu" id="header">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-left" style="padding:10px 40px">
                <a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo-big.png" width="205" alt="Alternate Text"  /></a>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="height:65px">
                @Html.Partial("_LoginPartial")
                <li>
                    <ul class="languagepicker roundborders">
                        @if (lang == "en")
                        {
                            <li><a href="#" id="langen"><img src="http://i64.tinypic.com/fd60km.png" />English</a></li>
                            <li><a href="#" id="langvi"><img src="http://i39.tinypic.com/302t8ur.jpg" />Tiếng việt</a></li>
                        }
                        else
                        {
                            <li><a href="#" id="langvi"><img src="http://i39.tinypic.com/302t8ur.jpg" />Tiếng việt</a></li>
                            <li><a href="#" id="langen"><img src="http://i64.tinypic.com/fd60km.png" />English</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>