@{ 
    var group = ViewBag.currentGroup as ProcessManagement.Models.Group;
}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="@Url.Action("Index","Group")" class="site_title"><img src="~/Content/images/logo.png" class="medium-logo" alt="Alternate Text" /> <span style="font-size: 11px;">Process Management System</span></a>
        </div>
    
        <div class="clearfix"></div>
        <br />
    
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li>
                  <a href="@Url.RouteUrl("GroupControlLocalizedDefault",new { action = "show", groupslug = group.groupSlug, groupid = group.Id})"+><i class="fas fa-building"></i> @ProcessManagement.Content.resources.CWmenu.clockworks_menu_group</a>
              </li>
             </ul>
          </div>
    
        </div>
        <!-- /sidebar menu -->
    
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
</div>