<div id="uploadfile">
    <input type="file" id="FileUpload" name="FileUpload" style="display:none" />
    <button class="btn btn-default waves-effect" id="btn-file"><i class="icon-cloud-upload"></i> Upload</button>
</div>
<div class="table-responsive m-t-15" style="overflow-x:unset" id="file-list">
    <table class="table table-hover">
        <tbody>
            @foreach (var file in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("download", "file", new { file = file.Id })">
                            @file.Name
                        </a>
                    </td>
                    <td style="text-align:center">
                        <button class="btn btn-primary-theme waves-effect btn-file-changename" data-src="@file.Id" data-toggle="tooltip" data-placement="top" title="Change Name">
                            <i class=" icon-pencil"></i>
                        </button>
                        <button class="btn btn-danger waves-effect btn-file-remove" data-src="@file.Id" data-toggle="tooltip" data-placement="top" title="Remove">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>