@{ 
    //var lang = Request.Cookies["LangForProcessManagementSystem"] != null ? Request.Cookies["LangForProcessManagementSystem"].Value : "en";
    //    var a = 2;
    string lang = Session["lang"] != null ? Session["lang"].ToString() : "en";
}
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
        </div>

        <div class="navbar-brand">
            <a href="/">
                <img src="~/Content/images/logo.png" alt="VanLang Logo" class="img-responsive logo" />
                <span class="logo-name"><span>VLU</span> ĐẠI HỌC VĂN LANG</span>
            </a>
        </div>
        <div class="navbar-right">
            <form id="navbar-search" class="navbar-form search-form">
                <input value="" class="form-control" placeholder="Search here..." type="text">
                <button type="button" style="box-shadow:none" class="btn"><i class="icon-magnifier"></i></button>
            </form>

            <div id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="icon-menu dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-language" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" id="langen"><img src="~/Content/images/usa-flag.png" class="small-flag" alt="America's Flag"> English</a>
                            <a class="dropdown-item" href="#" id="langvi"><img src="~/Content/images/vn-flag.png" class="small-flag" alt="VietNam's Flag"> Tiếng việt</a>
                        </div>
                    </li>
                    
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle icon-menu" id="btn-notification" data-toggle="dropdown" data-count="1">
                                <i class="icon-bell"></i>
                            </a>
                            <ul class="dropdown-menu notifications animated fadeIn">
                                @*<li class="header"><strong>You have 4 new Notifications</strong></li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-info text-warning"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">
                                                    Campaign <strong>Holiday Sale</strong> is nearly
                                                    reach budget limit.
                                                </p>
                                                <span class="timestamp">10:00 AM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-like text-success"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">
                                                    Your New Campaign <strong>Holiday Sale</strong> is
                                                    approved.
                                                </p>
                                                <span class="timestamp">11:30 AM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-pie-chart text-info"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">
                                                    Website visits from Twitter is 27% higher than last
                                                    week.
                                                </p>
                                                <span class="timestamp">04:00 PM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-info text-danger"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">Error on website analytics configurations</p>
                                                <span class="timestamp">Yesterday</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="footer">
                                    <a href="javascript:void(0);" class="more">
                                        See all
                                        notifications
                                    </a>
                                </li>*@
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle icon-menu"
                               data-toggle="dropdown"><i class="icon-equalizer"></i></a>
                            <ul class="dropdown-menu user-menu menu-icon animated bounceIn">
                                <li class="menu-heading">ACCOUNT SETTINGS</li>
                                <li>
                                    <a href="javascript:void(0);"><i class="icon-note"></i> <span>Basic</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="icon-equalizer"></i>
                                        <span>Preferences</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="icon-lock"></i> <span>Privacy</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="icon-bell"></i>
                                        <span>Notifications</span>
                                    </a>
                                </li>
                                <li class="menu-heading">BILLING</li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="icon-credit-card"></i>
                                        <span>Payments</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="icon-printer"></i>
                                        <span>Invoices</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="icon-refresh"></i>
                                        <span>Renewals</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="icon-menu"><i class="icon-login"></i></a></li>
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    }
                    else
                    {
                        <li><a href="account/login" class="icon-menu"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                    }

                </ul>
            </div>
        </div>
    </div>
</nav>