<div class="page-loader-wrapper" style="background:#fff">
    <div class="loader">
        <div class="m-t-30">
            @*<img src="https://thememakker.com/templates/lucid/hr/html/assets/images/logo-icon.svg" width="48" height="48" alt="Lucid">*@
        </div>
        <p style="color:#000">Please wait...</p>
    </div>
</div>