@if (Request.IsAuthenticated)
{
    <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            @*<img src="~/Content/images/user/avatar1.jpg" alt="">*@@User.Identity.GetUserName()
            <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li>@@ @User.Identity.GetNickName()</li>
            <li><a href="javascript:;"> Profile</a></li>
            @*<li>
                    <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                    </a>
                </li>*@
            @*<li><a href="javascript:;">Help</a></li>*@
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
        </ul>
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


    }
}
else
{
    <li>@Html.ActionLink(ProcessManagement.Content.resources.CWmenu.clockworks_menu_login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@*@Html.ActionLink(ProcessManagement.Content.resources.CWmenu.clockworks_menu_register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@</li>
}
