@model ProcessManagement.Models.Process

@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_NullLayout.cshtml";
}

<div class="cw-workspace-header">
    <div class="cw-workspace-intro">
        <div class="cw-workspace-avatar">
            <img src="public/images/workspace/avatar2.png" alt="workspace's avatar">
        </div>
        <div class="cw-workspace-name cw-normal-header">
            CapstoneProject-ClockWorks
        </div>
    </div>
    <ul class="cw-tabs">

        <li class="cw-active-tab" rel="settings">
            <i class="fas fa-people-carry"></i>&nbsp;Role
        </li>
    </ul>
</div>
<div class="cw-workspace-header" style="position:relative">
    <div class="cw-find-members">
        <div class="cw-add-member">
            <form action="@Url.RouteUrl("GroupLocalizedDefault", new { controller = "process", action = "createrole"})" method="POST">
                <input type="hidden" name="IdProcess" value="@Model.Id" />
                <div class="form-group">
                    <label for="cw-members-name" class="cw-required">Role</label>
                    <span class="cw-input-icon">
                        <input type="text" name="name" class="form-control cw-input-has-icon" id="cw-roles-name">

                    </span>
                </div>
                <div class="form-group">
                    <label for="cw-members-name" class="cw-required">Role Description</label>
                    <span class="cw-input-icon">
                        <textarea name="description" class="form-control cw-input-has-icon" id="cw-description-name" ols="" rows=""></textarea>
                    </span>
                </div>

                <div>
                    <button class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
        <hr class="cw-normal-hr">
        <div class="cw-workspace-members-list-detail">
            <table class="cw-table-box cw-table-gray table table-hover" width="100%">
                <thead>
                    <tr style="text-align:center">
                        <td style="max-width:100%" width="10%">Roles</td>
                        <td style="max-width:50%" width="50%">Description</td>
                        <td style="max-width:10%" width="10%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center">
                        <td style="max-width:100%" width="10%">
                            <a href="#">Admin</a>
                        </td>
                        <td style="max-width:50%" width="50%">
                            <p>description for admin</p>
                        </td>
                        <td style="max-width:10%" width="100%">
                            <button class="btn btn-default"><i class="fas fa-trash-alt"></i></button>
                            <button class="btn btn-default"><i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

