@model ProcessManagement.Models.Process

@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="cw-workspace-header">
    <div class="cw-find-members">
        <div class="cw-add-member">
            <form action="@Url.RouteUrl("GroupLocalizedDefault", new { controller = "process", action = "createrole"})" method="POST">
                <input type="hidden" name="IdProcess" value="@Model.Id" />
                <div class="form-group">
                    <label for="cw-members-name" class="cw-required">Role</label>
                    <span class="cw-input-icon">
                        <input type="text" name="name" class="form-control cw-input-has-icon" id="rolename">
                    </span>
                    <div class="row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <p id="Status"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cw-members-name" class="cw-required">Role Description</label>
                    <span class="cw-input-icon">
                        <textarea name="description" class="form-control cw-input-has-icon" id="cw-description-name" ols="" rows=""></textarea>
                    </span>
                </div>

                <div>
                    <button class="btn btn-success">Add</button>
                </div>
            </form>
        </div>

       
</div>
<script>
    function RoleCheck() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckRoleNameAvailability", "Process")",
            {
                roledata: $("#rolename").val()
            },
            function(data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Available !. you can take it.</font>');
                    $("#rolename").css("border-color", "Green");
                }
                else {
                    $("#Status").html('<font color="Red">That name is taken.Try another</font>');
                    $("#rolename").css("border-color", "Red");
                }
            }
        )
    }
</script>