@model List<ProcessManagement.Models.TaskProcess>
@{
    ViewBag.Title = "ListTaskOfStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tasks = ViewData["task"] as List<ProcessManagement.Models.TaskProcess>;
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Role</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td><a>@task.Name</a></td>
                <td>@task.Description</td>
                <td>@task.Role.Name</td>
                <td><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "EditTask", idtask = task.id })"><i class="fas fa-cog"></i> Edit task</a></td>
            </tr>
        }
    </tbody>
</table>

