@model ProcessManagement.Models.Process
@{
    ViewBag.Title = "Create Start Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomCss{
    

}
<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth primary-theme"><i class="fa fa-arrow-left"></i></a> Create New Process Start</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html" class="primary-theme"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item pr"><a href="#" class="primary-theme">Group</a></li>
                <li class="breadcrumb-item active"><a href="#" class="primary-theme">Process Start</a></li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 text-right">
            <div class="bh_chart hidden-xs">
                <div class="float-left m-r-15">
                    <small>Visitors</small>
                    <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                </div>
                <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Visits</small>
                    <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                </div>
                <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Chats</small>
                    <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                </div>
                <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <form id="wizard_with_validation" method="POST">
                    <h3>Account Information</h3>
                    <fieldset>
                        <div class="form-group form-float">
                            <input type="text" class="form-control" placeholder="Username *" name="username" required>
                        </div>
                        <div class="form-group form-float">
                            <input type="password" class="form-control" placeholder="Password *" name="password" id="password" required>
                        </div>
                        <div class="form-group form-float">
                            <input type="password" class="form-control" placeholder="Confirm Password *" name="confirm" required>
                        </div>
                    </fieldset>
                    <h3>Profile Information</h3>
                    <fieldset>
                        <div class="form-group form-float">
                            <input type="text" name="name" placeholder="First Name *" class="form-control" required>
                        </div>
                        <div class="form-group form-float">
                            <input type="text" name="surname" placeholder="Last Name *" class="form-control" required>
                        </div>
                        <div class="form-group form-float">
                            <input type="email" name="email" placeholder="Email *" class="form-control" required>
                        </div>
                        <div class="form-group form-float">
                            <textarea name="address" cols="30" rows="3" placeholder="Address *" class="form-control no-resize" required></textarea>
                        </div>
                        <div class="form-group form-float">
                            <input min="18" type="number" name="age" placeholder="Age *" class="form-control" required>
                            <div class="help-info">The warning step will show up if age is less than 18</div>
                        </div>
                    </fieldset>
                    <h3>Terms Conditions - Finish</h3>
                    <fieldset>
                        <input id="acceptTerms-2" name="acceptTerms" type="checkbox" required>
                        <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@section CustomScripts{
    <script src="~/Content/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/Content/vendor/jquery-steps/jquery.steps.js"></script>
    <script src="~/Content/build/js/pages/forms/form-wizard.js"></script>
}

