@model List<ProcessManagement.Models.Step>
@{
    ViewBag.Title = "ShowStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var steps = ViewData["step"] as List<ProcessManagement.Models.Step>;
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var step in Model)
        {
            <tr>
                <td><a>@step.Name</a></td>
                <td>@step.Description</td>
     
            </tr>
        }
    </tbody>
</table>

