@model List<ProcessManagement.Models.Step>
@{
    ViewBag.Title = "ShowStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var group = ViewData["group"] as ProcessManagement.Models.Group;
    var process = ViewData["process"] as ProcessManagement.Models.Process;
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var step in Model)
        {
            <tr>
                <td><a>@step.Name</a></td>
                <td>@step.Description</td>
                <td>
                    <a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "editstep", groupslug = group.groupSlug, groupid = group.Id, stepid = step.Id })" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

